extends layout

block content
  if view == "login" 
    div(class="bg")
      div(class="container")
        div(class="row")
          div(class="col-sm-9 col-md-7 col-lg-5 mx-auto")
            div(class="card card-signin my-5")
              div(class="card-body")
                span(class="card-title text-center")
                  img(src="/images/noice.png" class="mx-auto d-block" width="45%")
                form(class="form-signin" action='/login' method='POST')
                  h6(class="card-title text-center") Please sign in

                  if error
                    div(class="alert alert-danger alert-dismissible fade show rounded" role="alert")
                      span= error
                      button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                        span(aria-hidden="true") &times;


                  div(class="form-label-group")
                    input(type="email" id="inputEmail" name="mail" class="form-control" placeholder="Email address" required autofocus)
                    label(for="inputEmail") Mail address

                  div(class="form-label-group")
                    input(type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required)
                    label(for="inputPassword") Password
                
                  //div(class="custom-control custom-checkbox mb-3")
                    input(type="checkbox" class="custom-control-input" id="customCheck1")
                    label(class="custom-control-label" for="customCheck1") Remember password

                  button(class="btn btn-lg btn-primary btn-block text-uppercase" type="submit") Sign in
                  hr(class="my-4")

                  //button(class="btn btn-lg btn-google btn-block text-uppercase" type="submit")
                    span
                      i(class="fab fa-google mr-2")
                    span Sign in with Google 
                  //button(class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit") 
                    span
                      i(class="fab fa-facebook-f mr-2")
                    span Sign in with Facebook
       
                div(class="d-flex justify-content-center mt-4")
                  a(href="/login/register" class="text-primary") Not registered yet? Just register!
         
  else if view == "register"
    div(class="bg")
      div(class="container")
        div(class="row")
          div(class="col-sm-9 col-md-7 col-lg-5 mx-auto")
            div(class="card card-signin my-5")
              div(class="card-body")
                img(src="/images/noice.png" class="mx-auto d-block" width="45%")

                if error
                    div(class="alert alert-danger alert-dismissible fade show rounded" role="alert")
                      span= error
                      button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                        span(aria-hidden="true") &times;
                
                form(class="form-signin" action='/login/register' method='POST')
                  h6(class="card-title text-center")
                  div(class="form-label-group")
                    input(type="text" id="inputName" name="username" class="form-control" placeholder="Username" required autofocus)
                    label(for="inputName") Username

                  div(class="form-label-group")
                    input(type="email" id="inputEmail" name="mail" class="form-control" placeholder="Email address")
                    label(for="inputEmail") Mail adress

                  div(class="form-label-group")
                    input(type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required)
                    label(for="inputPassword") Password
                
                
                  button(class="btn btn-lg btn-primary btn-block text-uppercase" type="submit") Register
                
  else
    div(class="navbar navbar-expand-sm navbar-light")
      a(href="/myHomePage" class="navbar-brand") 
        img(src="/images/noice.png" class="d-inline-block align-top" height="96%")
      button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
    

      div(class="navbar-collapse collapse" id="navbarSupportedContent")
          ul(class="mr-auto navbar-nav")
            li(class="nav-item")
              a(class="nav-link" href="/myHomePage") Home
            li(class="nav-item")
              a(class="nav-link" href="/notToForget") Do Not Forget
            li(class="nav-item")
              a(class="nav-link" href="/tasksDone") Tasks Done
            li(class="nav-item")
              a(class="nav-link" href="/studyTimer") Time To Study!
            li(class="nav-item")
              a(class="nav-link" href="/studySchedule") Study Schedule!


          ul(class="nav navbar-nav navbar-right")
            //li(class="nav-item")
              a(class="nav-link" href="#filterModal" id="navbarDropdown" role="button" data-toggle="modal" aria-haspopup="true" aria-expanded="false")
                button(class="nav-link btn btn-light" )
                  i(class="fas fa-search" style="color: #1ab8ed")
                  span(style="color: #1ab8ed")  Search Tasks
              
            li(class="nav-item dropdown")
              a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 
                img(class="rounded-circle" src="/images/users/default_user.png" onerror="javascript:this.src='/images/users/default_user.png'" width="45" height="45")
              span(class="caret")
                div(class="dropdown-menu" aria-labelledby="navbarDropdown")
                  a(class="dropdown-item" href="/logout") Logout

        
    if view == "profile"
      div(id="containerProfile")
        div(class="row gutters-sm")
          div(class="col-md-4 mb-3")
            div(class="card rounded")
              div(class="card-body")
                div(class="d-flex flex-column align-items-center text-center")
                  img(src="/images/users/#{user.mail}.png" onerror="javascript:this.src='/images/users/default_user.png'" class="rounded-circle" width="150" height="150")
                  div(class="mt-3")
                    h4 #{user.mail}
                    h5 #{user.name}
           
          

    if view == "initial"
      .h1(style='text-align:center') Mood Tracker
      .row
          .container.containerMood
            i#emoji.large.material-icons
              | sentiment_satisfied
            | 
            input#slider(type='range', min='0', max='4', value='2')
          
        script. 
          var slider=document.getElementById("slider")
          var emoji=document.getElementById("emoji")
          var emoticons=["mood_bad","sentiment_very_dissatisfied","sentiment_satisfied", "sentiment_satisfied_alt","sentiment_very_satisfied"]
          slider.oninput=function(){emoji.innerHTML=emoticons[slider.value];}
      div(id="myContainer")
        .row
          .col          
            .card-deck
              .card
                .card-body
                  .h3(class="card-title") Daily Habits
                  a(class="nav-link" href="#goalModal" id="navbarDropdown" role="button" data-toggle="modal" aria-haspopup="true" aria-expanded="false")
                    button(class="nav-link btn btn-light" style="margin: 10px")
                      i(class="fas fa-plus" style="color: #1ab8ed")
                      span(style="color: #1ab8ed")  Add Habit

                  div(class="modal fade" id="goalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
                    div(class="modal-dialog modal-dialog-centered" role="document")
                      div(class="modal-content")
                        div(class="modal-header")
                          h4(class="modal-title" id="myModalLabel") Add Habit
                          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                  
                        div(class="modal-body")
                          form(action="/goals" method="POST")
                            input.form-control(type='text', placeholder='Your Goals', name='goal')
                            input.form-control(type='submit', placeholder='Your Goals' value="Add")
                            
                        div(class="modal-footer")

                  
                      
                  div
                    ul
                      each goal in goals
                        div(class="notifications-item rounded" style="background: #f2fafc")
                          div(class="text")
                            h3 #{goal.title}
                            p
                              a(href="/goals/delete/#{goal._id}")    
                                i(class="fas fa-trash")
                            p
                              a(class="nav-link" href="#goalEditModal" id="navbarDropdown" role="button" data-toggle="modal" aria-haspopup="true" aria-expanded="false")
                                i(class="fas fa-edit" style="color: #1ab8ed")

                        div(class="modal fade" id="goalEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
                          div(class="modal-dialog modal-dialog-centered" role="document")
                            div(class="modal-content")
                              div(class="modal-header")
                                h4(class="modal-title" id="myModalLabel") Edit Habit
                                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                  span(aria-hidden="true") &times;
                        
                              div(class="modal-body")
                                form(method='POST' action = `/edit/goal/` + goal._id)

                                  div(class="form-label-group")
                                    input(type="text" id="inputTitle" name="title" class="form-control" value = goal.title required)
                                    label(for="inputTitle") Title


                                    input(class="btn btn-lg btn-primary" type='submit' value='Submit')
                                  
                              div(class="modal-footer") 


              .card
                .card-body
                  .h3(class="card-title") Tasks
                  .mb-3
                    a(class="nav-link" href="#taskModal" id="navbarDropdown" role="button" data-toggle="modal" aria-haspopup="true" aria-expanded="false")
                      button(class="nav-link btn btn-light" style="margin: 10px")
                        i(class="fas fa-plus" style="color: #1ab8ed")
                        span(style="color: #1ab8ed")  Add Task

                    div(class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
                      div(class="modal-dialog modal-dialog-centered" role="document")
                        div(class="modal-content")
                          div(class="modal-header")
                            h4(class="modal-title" id="myModalLabel") Add Task
                            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                              span(aria-hidden="true") &times;
                    
                          div(class="modal-body")
                            form(action="/tasks" method="POST")
                              label.form-label(for='taskcontrol') Title
                              |   
                              input#taskcontrol.form-control(type='text' name="title" placeholder='Enter Title')
                              .mb-3
                              label.form-label(for='descriptioncontrol') Example description
                              |   
                              textarea#descriptioncontrol.form-control(name="description" rows='3')
                              div(class="form-label-group")
                                input(type="date" id="inputDate" name="dueDate" class="form-control" placeholder="Due Date" required)
                                label(for="inputDate") Due Date
                              input.form-control(type='submit' value="Add")
                              
                          div(class="modal-footer") 

                    div
                      ul
                        each task in tasks
                          div(class="notifications-item rounded" style="background: #fff5eb")
                            div(class="text")
                                h3 #{task.title}
                                p
                                  b #{task.description}
                                span
                                  a(href="/tasks/delete/#{task._id}")    
                                    i(class="fas fa-trash")
                                p
                                  a(class="nav-link" href="#taskEditModal" id="navbarDropdown" role="button" data-toggle="modal" aria-haspopup="true" aria-expanded="false")
                                    i(class="fas fa-edit" style="color: #1ab8ed")

                          div(class="modal fade" id="taskEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
                            div(class="modal-dialog modal-dialog-centered" role="document")
                              div(class="modal-content")
                                div(class="modal-header")
                                  h4(class="modal-title" id="myModalLabel") Edit Task
                                  button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                    span(aria-hidden="true") &times;
                          
                                div(class="modal-body")
                                  form(method='POST' action = `/edit/task/` + task._id)

                                    div(class="form-label-group")
                                      input(type="text" id="inputTitle" name="title" class="form-control" value = task.title required)
                                      label(for="inputTitle") Title
                                    
                                    div(class="form-label-group")
                                      input(type="text" id="inputTitle" name="description" class="form-control" value = task.description required)
                                      label(for="inputTitle") Description

                                    div(class="form-label-group")
                                      input(type="text" id="inputTitle" name="dueDate" class="form-control" value = task.dueDate required)
                                      label(for="inputTitle") Due Date

                                    input(class="btn btn-lg btn-primary" type='submit' value='Submit')
                                    
                                div(class="modal-footer")



      
              //- div(id="containerLeft" class="container mt-4 mx-2")
                each g in goals
                  div(class="card rounded p-3 m-2")
                    div(class="row px-3")
                      div(class="col")
                        span 
                          p(class="card-text m-0") #{g.motivational}                 
                    div(class="row px-3")
                      div(class="col")
                        span
                          strong=g.mood            
                div(class="column")

                  div(class="container my-3")
                    p
                      b Noice Tasks To-do
                  div(id="containerFeed" class="container mt-2")
                    each task in tasks
                      p #{task.title}
                      p #{task.description}
                      
    if view == "notToForget"
      

    if view == "tasksDone"
      div(id="myContainer")
        div(class="row")           
          div(class="col-sm-3")
            div(class="container my-3 mx-3")
              p
                b Tasks Done

    if view == "timer"
      .h1(style='text-align:center') Study Time! 
      #canvas.container.group
        #primaryContent.group
          p(style="text-align:center") How many minutes shall you study?
          | &#x9;    
          #inputArea
          | &#x9;&#x9;
          h1(style="text-align:center; font-size:140px")#time 0:00

    if view == "study"
      .h1(style='text-align:center') Your Schedule! 
      #canvas.container.group
        #primaryContent.group
          form           
          .form-group
            label(for='exampleFormControlInput1') Date
              input#exampleFormControlInput1.form-control(type='date', placeholder='Write and you can do it!')
            |   
          .row
            .col
              .form-group
                label(for='exampleFormControlInput1') Task
                |     
                input#exampleFormControlInput1.form-control(type='string', placeholder='Write and you can do it!')
              |   
            .col
              .form-group
                label(for='exampleFormControlSelect1') Start time
                |     
                select#exampleFormControlSelect1.form-control
                  option 12:00 am
                  |       
                  option 00:30 am
                  |       
                  option 01:00 am
                  |       
                  option 01:30 am
                  |       
                  option 02:00 am
                  |       
                  option 02:30 am
                  |       
                  option 03:00 am
                  |       
                  option 03:30 am
                  |       
                  option 04:00 am
                  |       
                  option 04:30 am
                  |       
                  option 05:00 am
                  |       
                  option 05:30 am
                  |       
                  option 06:00 am
                  |       
                  option 06:30 am
                  |       
                  option 07:00 am
                  |       
                  option 07:30 am
                  |       
                  option 08:00 am
                  |       
                  option 08:30 am
                  |       
                  option 09:00 am
                  |       
                  option 09:30 am
                  |       
                  option 10:00 am
                  |       
                  option 10:30 am
                  |       
                  option 11:00 am
                  |       
                  option 11:30 am
                  |       
                  option 12:00 pm
                  |       
                  option 00:00 pm
                  |       
                  option 00:30 pm
                  |       
                  option 01:00 pm
                  |       
                  option 01:30 pm
                  |       
                  option 02:00 pm
                  |       
                  option 02:30 pm
                  |       
                  option 03:00 pm
                  |       
                  option 03:30 pm
                  |       
                  option 04:00 pm
                  |       
                  option 04:30 pm
                  |       
                  option 05:00 pm
                  |       
                  option 05:30 pm
                  |       
                  option 06:00 pm
                  |       
                  option 06:30 pm
                  |       
                  option 07:00 pm
                  |       
                  option 07:30 pm
                  |       
                  option 08:00 pm
                  |       
                  option 08:30 pm
                  |       
                  option 09:00 pm
                  |       
                  option 09:30 pm
                  |       
                  option 10:00 pm
                  |       
                  option 10:30 pm
                  |       
                  option 11:00 pm
                  |       
                  option 11:30 pm
              | 
            .col  
              .form-group
                label(for='exampleFormControlSelect1') Finish Time
                |     
                select#exampleFormControlSelect1.form-control
                  option 12:00 am
                  |       
                  option 00:30 am
                  |       
                  option 01:00 am
                  |       
                  option 01:30 am
                  |       
                  option 02:00 am
                  |       
                  option 02:30 am
                  |       
                  option 03:00 am
                  |       
                  option 03:30 am
                  |       
                  option 04:00 am
                  |       
                  option 04:30 am
                  |       
                  option 05:00 am
                  |       
                  option 05:30 am
                  |       
                  option 06:00 am
                  |       
                  option 06:30 am
                  |       
                  option 07:00 am
                  |       
                  option 07:30 am
                  |       
                  option 08:00 am
                  |       
                  option 08:30 am
                  |       
                  option 09:00 am
                  |       
                  option 09:30 am
                  |       
                  option 10:00 am
                  |       
                  option 10:30 am
                  |       
                  option 11:00 am
                  |       
                  option 11:30 am
                  |       
                  option 12:00 pm
                  |       
                  option 00:00 pm
                  |       
                  option 00:30 pm
                  |       
                  option 01:00 pm
                  |       
                  option 01:30 pm
                  |       
                  option 02:00 pm
                  |       
                  option 02:30 pm
                  |       
                  option 03:00 pm
                  |       
                  option 03:30 pm
                  |       
                  option 04:00 pm
                  |       
                  option 04:30 pm
                  |       
                  option 05:00 pm
                  |       
                  option 05:30 pm
                  |       
                  option 06:00 pm
                  |       
                  option 06:30 pm
                  |       
                  option 07:00 pm
                  |       
                  option 07:30 pm
                  |       
                  option 08:00 pm
                  |       
                  option 08:30 pm
                  |       
                  option 09:00 pm
                  |       
                  option 09:30 pm
                  |       
                  option 10:00 pm
                  |       
                  option 10:30 pm
                  |       
                  option 11:00 pm
                  |       
                  option 11:30 pm
              |     
            .col
                label(for='inlineRadio1') Done ?
                |     
                .form-check.form-check-inline
                    input#inlineRadio1.form-check-input(type='radio')
                    |   
                    label.form-check-label(for='inlineRadio1') Yes
                  .form-check.form-check-inline
                    input#inlineRadio2.form-check-input(type='radio')
                    |   
                    label.form-check-label(for='inlineRadio2') No
          .row
              .col
                .form-group
                  label(for='exampleFormControlInput1') Task
                  |     
                  input#exampleFormControlInput1.form-control(type='string', placeholder='Write and you can do it!')
                |   
              .col
                .form-group
                  label(for='exampleFormControlSelect1') Start time
                  |     
                  select#exampleFormControlSelect1.form-control
                    option 12:00 am
                    |       
                    option 00:30 am
                    |       
                    option 01:00 am
                    |       
                    option 01:30 am
                    |       
                    option 02:00 am
                    |       
                    option 02:30 am
                    |       
                    option 03:00 am
                    |       
                    option 03:30 am
                    |       
                    option 04:00 am
                    |       
                    option 04:30 am
                    |       
                    option 05:00 am
                    |       
                    option 05:30 am
                    |       
                    option 06:00 am
                    |       
                    option 06:30 am
                    |       
                    option 07:00 am
                    |       
                    option 07:30 am
                    |       
                    option 08:00 am
                    |       
                    option 08:30 am
                    |       
                    option 09:00 am
                    |       
                    option 09:30 am
                    |       
                    option 10:00 am
                    |       
                    option 10:30 am
                    |       
                    option 11:00 am
                    |       
                    option 11:30 am
                    |       
                    option 12:00 pm
                    |       
                    option 00:00 pm
                    |       
                    option 00:30 pm
                    |       
                    option 01:00 pm
                    |       
                    option 01:30 pm
                    |       
                    option 02:00 pm
                    |       
                    option 02:30 pm
                    |       
                    option 03:00 pm
                    |       
                    option 03:30 pm
                    |       
                    option 04:00 pm
                    |       
                    option 04:30 pm
                    |       
                    option 05:00 pm
                    |       
                    option 05:30 pm
                    |       
                    option 06:00 pm
                    |       
                    option 06:30 pm
                    |       
                    option 07:00 pm
                    |       
                    option 07:30 pm
                    |       
                    option 08:00 pm
                    |       
                    option 08:30 pm
                    |       
                    option 09:00 pm
                    |       
                    option 09:30 pm
                    |       
                    option 10:00 pm
                    |       
                    option 10:30 pm
                    |       
                    option 11:00 pm
                    |       
                    option 11:30 pm
                | 
              .col  
                .form-group
                  label(for='exampleFormControlSelect1') Finish Time
                  |     
                  select#exampleFormControlSelect1.form-control
                    option 12:00 am
                    |       
                    option 00:30 am
                    |       
                    option 01:00 am
                    |       
                    option 01:30 am
                    |       
                    option 02:00 am
                    |       
                    option 02:30 am
                    |       
                    option 03:00 am
                    |       
                    option 03:30 am
                    |       
                    option 04:00 am
                    |       
                    option 04:30 am
                    |       
                    option 05:00 am
                    |       
                    option 05:30 am
                    |       
                    option 06:00 am
                    |       
                    option 06:30 am
                    |       
                    option 07:00 am
                    |       
                    option 07:30 am
                    |       
                    option 08:00 am
                    |       
                    option 08:30 am
                    |       
                    option 09:00 am
                    |       
                    option 09:30 am
                    |       
                    option 10:00 am
                    |       
                    option 10:30 am
                    |       
                    option 11:00 am
                    |       
                    option 11:30 am
                    |       
                    option 12:00 pm
                    |       
                    option 00:00 pm
                    |       
                    option 00:30 pm
                    |       
                    option 01:00 pm
                    |       
                    option 01:30 pm
                    |       
                    option 02:00 pm
                    |       
                    option 02:30 pm
                    |       
                    option 03:00 pm
                    |       
                    option 03:30 pm
                    |       
                    option 04:00 pm
                    |       
                    option 04:30 pm
                    |       
                    option 05:00 pm
                    |       
                    option 05:30 pm
                    |       
                    option 06:00 pm
                    |       
                    option 06:30 pm
                    |       
                    option 07:00 pm
                    |       
                    option 07:30 pm
                    |       
                    option 08:00 pm
                    |       
                    option 08:30 pm
                    |       
                    option 09:00 pm
                    |       
                    option 09:30 pm
                    |       
                    option 10:00 pm
                    |       
                    option 10:30 pm
                    |       
                    option 11:00 pm
                    |       
                    option 11:30 pm
                |     
              .col
                  label(for='inlineRadio1') Done ?
                  |     
                  .form-check.form-check-inline
                      input#inlineRadio1.form-check-input(type='radio')
                      |   
                      label.form-check-label(for='inlineRadio1') Yes
                    .form-check.form-check-inline
                      input#inlineRadio2.form-check-input(type='radio')
                      |   
                      label.form-check-label(for='inlineRadio2') No
            .row
              .col
                .form-group
                  label(for='exampleFormControlInput1') Task
                  |     
                  input#exampleFormControlInput1.form-control(type='string', placeholder='Write and you can do it!')
                |   
              .col
                .form-group
                  label(for='exampleFormControlSelect1') Start time
                  |     
                  select#exampleFormControlSelect1.form-control
                    option 12:00 am
                    |       
                    option 00:30 am
                    |       
                    option 01:00 am
                    |       
                    option 01:30 am
                    |       
                    option 02:00 am
                    |       
                    option 02:30 am
                    |       
                    option 03:00 am
                    |       
                    option 03:30 am
                    |       
                    option 04:00 am
                    |       
                    option 04:30 am
                    |       
                    option 05:00 am
                    |       
                    option 05:30 am
                    |       
                    option 06:00 am
                    |       
                    option 06:30 am
                    |       
                    option 07:00 am
                    |       
                    option 07:30 am
                    |       
                    option 08:00 am
                    |       
                    option 08:30 am
                    |       
                    option 09:00 am
                    |       
                    option 09:30 am
                    |       
                    option 10:00 am
                    |       
                    option 10:30 am
                    |       
                    option 11:00 am
                    |       
                    option 11:30 am
                    |       
                    option 12:00 pm
                    |       
                    option 00:00 pm
                    |       
                    option 00:30 pm
                    |       
                    option 01:00 pm
                    |       
                    option 01:30 pm
                    |       
                    option 02:00 pm
                    |       
                    option 02:30 pm
                    |       
                    option 03:00 pm
                    |       
                    option 03:30 pm
                    |       
                    option 04:00 pm
                    |       
                    option 04:30 pm
                    |       
                    option 05:00 pm
                    |       
                    option 05:30 pm
                    |       
                    option 06:00 pm
                    |       
                    option 06:30 pm
                    |       
                    option 07:00 pm
                    |       
                    option 07:30 pm
                    |       
                    option 08:00 pm
                    |       
                    option 08:30 pm
                    |       
                    option 09:00 pm
                    |       
                    option 09:30 pm
                    |       
                    option 10:00 pm
                    |       
                    option 10:30 pm
                    |       
                    option 11:00 pm
                    |       
                    option 11:30 pm
                | 
              .col  
                .form-group
                  label(for='exampleFormControlSelect1') Finish Time
                  |     
                  select#exampleFormControlSelect1.form-control
                    option 12:00 am
                    |       
                    option 00:30 am
                    |       
                    option 01:00 am
                    |       
                    option 01:30 am
                    |       
                    option 02:00 am
                    |       
                    option 02:30 am
                    |       
                    option 03:00 am
                    |       
                    option 03:30 am
                    |       
                    option 04:00 am
                    |       
                    option 04:30 am
                    |       
                    option 05:00 am
                    |       
                    option 05:30 am
                    |       
                    option 06:00 am
                    |       
                    option 06:30 am
                    |       
                    option 07:00 am
                    |       
                    option 07:30 am
                    |       
                    option 08:00 am
                    |       
                    option 08:30 am
                    |       
                    option 09:00 am
                    |       
                    option 09:30 am
                    |       
                    option 10:00 am
                    |       
                    option 10:30 am
                    |       
                    option 11:00 am
                    |       
                    option 11:30 am
                    |       
                    option 12:00 pm
                    |       
                    option 00:00 pm
                    |       
                    option 00:30 pm
                    |       
                    option 01:00 pm
                    |       
                    option 01:30 pm
                    |       
                    option 02:00 pm
                    |       
                    option 02:30 pm
                    |       
                    option 03:00 pm
                    |       
                    option 03:30 pm
                    |       
                    option 04:00 pm
                    |       
                    option 04:30 pm
                    |       
                    option 05:00 pm
                    |       
                    option 05:30 pm
                    |       
                    option 06:00 pm
                    |       
                    option 06:30 pm
                    |       
                    option 07:00 pm
                    |       
                    option 07:30 pm
                    |       
                    option 08:00 pm
                    |       
                    option 08:30 pm
                    |       
                    option 09:00 pm
                    |       
                    option 09:30 pm
                    |       
                    option 10:00 pm
                    |       
                    option 10:30 pm
                    |       
                    option 11:00 pm
                    |       
                    option 11:30 pm
                |     
              .col
                  label(for='inlineRadio1') Done ?
                  |     
                  .form-check.form-check-inline
                      input#inlineRadio1.form-check-input(type='radio')
                      |   
                      label.form-check-label(for='inlineRadio1') Yes
                    .form-check.form-check-inline
                      input#inlineRadio2.form-check-input(type='radio')
                      |   
                      label.form-check-label(for='inlineRadio2') No
            .row
              .col
                .form-group
                  label(for='exampleFormControlInput1') Task
                  |     
                  input#exampleFormControlInput1.form-control(type='string', placeholder='Write and you can do it!')
                |   
              .col
                .form-group
                  label(for='exampleFormControlSelect1') Start time
                  |     
                  select#exampleFormControlSelect1.form-control
                    option 12:00 am
                    |       
                    option 00:30 am
                    |       
                    option 01:00 am
                    |       
                    option 01:30 am
                    |       
                    option 02:00 am
                    |       
                    option 02:30 am
                    |       
                    option 03:00 am
                    |       
                    option 03:30 am
                    |       
                    option 04:00 am
                    |       
                    option 04:30 am
                    |       
                    option 05:00 am
                    |       
                    option 05:30 am
                    |       
                    option 06:00 am
                    |       
                    option 06:30 am
                    |       
                    option 07:00 am
                    |       
                    option 07:30 am
                    |       
                    option 08:00 am
                    |       
                    option 08:30 am
                    |       
                    option 09:00 am
                    |       
                    option 09:30 am
                    |       
                    option 10:00 am
                    |       
                    option 10:30 am
                    |       
                    option 11:00 am
                    |       
                    option 11:30 am
                    |       
                    option 12:00 pm
                    |       
                    option 00:00 pm
                    |       
                    option 00:30 pm
                    |       
                    option 01:00 pm
                    |       
                    option 01:30 pm
                    |       
                    option 02:00 pm
                    |       
                    option 02:30 pm
                    |       
                    option 03:00 pm
                    |       
                    option 03:30 pm
                    |       
                    option 04:00 pm
                    |       
                    option 04:30 pm
                    |       
                    option 05:00 pm
                    |       
                    option 05:30 pm
                    |       
                    option 06:00 pm
                    |       
                    option 06:30 pm
                    |       
                    option 07:00 pm
                    |       
                    option 07:30 pm
                    |       
                    option 08:00 pm
                    |       
                    option 08:30 pm
                    |       
                    option 09:00 pm
                    |       
                    option 09:30 pm
                    |       
                    option 10:00 pm
                    |       
                    option 10:30 pm
                    |       
                    option 11:00 pm
                    |       
                    option 11:30 pm
                | 
              .col  
                .form-group
                  label(for='exampleFormControlSelect1') Finish Time
                  |     
                  select#exampleFormControlSelect1.form-control
                    option 12:00 am
                    |       
                    option 00:30 am
                    |       
                    option 01:00 am
                    |       
                    option 01:30 am
                    |       
                    option 02:00 am
                    |       
                    option 02:30 am
                    |       
                    option 03:00 am
                    |       
                    option 03:30 am
                    |       
                    option 04:00 am
                    |       
                    option 04:30 am
                    |       
                    option 05:00 am
                    |       
                    option 05:30 am
                    |       
                    option 06:00 am
                    |       
                    option 06:30 am
                    |       
                    option 07:00 am
                    |       
                    option 07:30 am
                    |       
                    option 08:00 am
                    |       
                    option 08:30 am
                    |       
                    option 09:00 am
                    |       
                    option 09:30 am
                    |       
                    option 10:00 am
                    |       
                    option 10:30 am
                    |       
                    option 11:00 am
                    |       
                    option 11:30 am
                    |       
                    option 12:00 pm
                    |       
                    option 00:00 pm
                    |       
                    option 00:30 pm
                    |       
                    option 01:00 pm
                    |       
                    option 01:30 pm
                    |       
                    option 02:00 pm
                    |       
                    option 02:30 pm
                    |       
                    option 03:00 pm
                    |       
                    option 03:30 pm
                    |       
                    option 04:00 pm
                    |       
                    option 04:30 pm
                    |       
                    option 05:00 pm
                    |       
                    option 05:30 pm
                    |       
                    option 06:00 pm
                    |       
                    option 06:30 pm
                    |       
                    option 07:00 pm
                    |       
                    option 07:30 pm
                    |       
                    option 08:00 pm
                    |       
                    option 08:30 pm
                    |       
                    option 09:00 pm
                    |       
                    option 09:30 pm
                    |       
                    option 10:00 pm
                    |       
                    option 10:30 pm
                    |       
                    option 11:00 pm
                    |       
                    option 11:30 pm
                |     
              .col
                  label(for='inlineRadio1') Done ?
                  |     
                  .form-check.form-check-inline
                      input#inlineRadio1.form-check-input(type='radio')
                      |   
                      label.form-check-label(for='inlineRadio1') Yes
                    .form-check.form-check-inline
                      input#inlineRadio2.form-check-input(type='radio')
                      |   
                      label.form-check-label(for='inlineRadio2') No

          .form-group
            label(for='exampleFormControlSelect1') Break Times Check List
            |     
            select#exampleFormControlSelect1.form-control
              option 1
              |       
              option 2
              |       
              option 3
              |       
              option 4
              |       
              option 5   
          .form-group
            label(for='exampleFormControlSelect2') Evaluate your study (1 - bad and 5 - excellent)
            |     
            select#exampleFormControlSelect1.form-control
              option 1
              |       
              option 2
              |       
              option 3
              |       
              option 4
              |       
              option 5
          |   
          .form-group
            label(for='exampleFormControlTextarea1') Notes
            |     
            textarea#exampleFormControlTextarea1.form-control(rows='3')
          .form-group
            label(for='exampleFormControlTextarea2') Reward
            |     
            textarea#exampleFormControlTextarea2.form-control(rows='3')
        button.btn.btn-primary(type='submit') Submit


